In [2]:
def compute_usd_total(amount_in_aud=0, amount_in_gbp=0):
    total = 0
    total += amount_in_aud * 0.78
    total += amount_in_gbp * 1.29
    return total

compute_usd_total(amount_in_gbp=10)

12.9

In [3]:
def convert_currency(amount, rate, margin=0):
     return amount * rate * (1 + margin)

In [4]:
def compute_usd_total(amount_in_aud=0, amount_in_gbp=0):
    total = 0
    total += convert_currency(amount_in_aud, 0.78)
    total += convert_currency(amount_in_gbp, 1.29)
    return total

In [5]:
compute_usd_total(amount_in_gbp=10)

12.9

In [6]:
def compute_usd_total(amount_in_aud=0, amount_in_gbp=0):
    total = 0
    total += convert_currency(amount_in_aud, 0.78)
    total += convert_currency(amount_in_gbp, 1.29, 0.01)
    return total

In [7]:
compute_usd_total(amount_in_gbp=10)

13.029

In [8]:
x= 5
def do_things():
    print(x)
do_things()

5

In [9]:
x= 5
def do_things():
    x = 3
    print(x)
do_things()
x

3

5

In [11]:
x= 5
def do_things():
    global x
    x = 3
    y = 5
    print(x)
do_things()
x

3

3

In [12]:
y

NameError: name 'y' is not defined

In [15]:
x = 4
def myfunc():
    x = 3
    def inner():
        nonlocal x
        print(x)
    inner()
    
myfunc()

3

In [16]:
add = lambda x,y: x+y